$Black: #000;
$White: #fff;
$RedOrange: #ff3333;

//Vuetify default colors
$Primary: #0058AA;
$Secondary: #424242;
$Accent: #82B1FF;
$Error: #FF5252;
$Info: #2196F3;
$Success: #4CAF50;
$Warning: #FFC107;